{% extends 'base.html' %}
{% block title %}
    Cargar pregunta
{% endblock %}
{% block nav %}
    {{ super() }} <!-- Esto incluirá el contenido del bloque nav de base.html -->
{% endblock %}
{% block content %}
    <div class="container">
            <!-- Enunciado -->
            <div class="col-md-12 mb-3 mt-3 text-center">
                <h5>A continuación, cargue las preguntas del formulario de su encuesta</h5>
            </div>
            <div class="col-md-12 col-lg-6 mx-auto justify-content-center align-items-center">
                <!-- Formulario -->
                <form class = "card w-100 needs-validation" method="POST" action="{{url_for('crud_preguntas_respuestas.add_preguntas') }}" novalidate>
                    <div class="card-body">
                        <div class="mb-3">
                            <!-- Lista desplegable de opciones de tipo de pregunta -->
                            <label for="listaDesplegable" class="form-label">Tipo de pregunta
                                <!-- Ícono de información con enlace -->
                                <a class="icon-link" href="{{url_for('vistas_principales.info_tipos_preguntas')}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16" role="link" aria-label="Más información">
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                    </svg>
                                </a>
                            </label>
                            <!-- Opciones disponibles en la lista desplegable // Elección obligatoria -->
                            <input class="form-control" list="opcionesTipoPregunta" id="listaDesplegable" name="listaDesplegable" placeholder="Seleccionar..." required>
                            <datalist id="opcionesTipoPregunta">
                                <option value="Abierta">
                                <option value="Cerrada de opción simple">
                                <option value="Cerrada de opción múltiple">
                                <option value="Semicerrada de opción simple">
                                <option value="Semicerrada de opción múltiple">
                                <option value="Escala">
                            </datalist>
                            <!-- Mensaje de error si la validación falla-->
                            <div class="invalid-feedback">
                                Seleccione un tipo de pregunta
                            </div>
                        </div>
                        <!-- Campo de texto para ingresar la pregunta // Input obligatorio-->
                        <div class="mb-3">
                            <label for="pregunta" class="form-label">Pregunta</label>
                            <textarea class="form-control" id="pregunta" name="pregunta" rows="3" maxlength="400" required></textarea>
                            <!-- Mensaje de error si la validación falla-->
                            <div class="invalid-feedback">
                                Ingrese una pregunta
                            </div>
                        </div>
                        <!-- Ingresar N° de opciones de respuesta // Input obligatorio -->
                        <div class="mb-3">
                            <label for="cantOpciones" class="form-label">Cantidad de opciones de respuesta</label>
                            <input type="number" id="cantOpciones" name="cantOpciones" class="form-control" required>
                            <!-- Mensaje de error si la validación falla-->
                            <div class="invalid-feedback">
                                Ingrese la cantidad de opciones de respuesta que tiene la pregunta
                            </div>
                        </div>
                         <!-- Botón de envío del formulario-->
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
    <script>
        // Deshabilitar el envío de formularios si hay campos no válidos
        // Extraido de https://getbootstrap.com/docs/5.3/forms/validation/
        (() => {
            'use strict'
    
            const forms = document.querySelectorAll('.needs-validation')
    
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
    
                form.classList.add('was-validated')
                }, false)
            })
        })()
    </script> 
{% endblock %}