{% extends 'base.html' %}
{% block title %}
    Datos del encuestado
{% endblock %}
{% block nav %}
    <!-- Barra de navegación -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container mt-2 mb-2 d-flex flex-lg-row align-items-center">
            <!-- Logo -->
            <a class="navbar-brand" href="{{ url_for('vistas_principales.home_encuestador')}}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="75" height="36">
            </a>
            <!-- Botón del menú -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menu" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Elementos del menú colapsable -->
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="menu">
                <!-- Header -->
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <!-- Body -->
                <div class="offcanvas-body mx-4 d-flex flex-column flex-lg-row align-items-center ms-lg-auto">
                    <!-- Barra de búsqueda -->
                    <div class="col-12 col-lg-auto mx-lg-2" role="search">
                        <input class="form-control" type="search"  id="buscar" oninput="filtrar()" placeholder="Buscar..." aria-label="Search">
                    </div>
                    <!-- Botón 'Cerrar sesión'-->
                    <div class="mt-auto mt-lg-0 ms-lg-2 col-12 col-lg-auto">
                        <a class="btn btn-outline-light w-100" href="{{url_for('auth.logout')}}" role="button">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto align-items-center mt-3 mb-3">
                <!-- Formulario -->
                <form class="card w-100 needs-validation" action="{{url_for('encuestado.add_encuestado')}}" method="POST" novalidate>
                    <input type="hidden" value="{{idEncuesta}}" name="idEncuesta">
                    <input type="hidden" value="{{nombreEncuesta}}" name="nombreEncuesta">
                    <div class="card-body">
                        <div class="mb-3">
                            <!-- Ingresar nombre  // Input NO obligatorio-->
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingresar nombre/s" maxlength="50">
                        </div>
                        <div class="mb-3">
                            <!-- Ingresar apellido  // Input NO obligatorio-->
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Ingresar apellido/s" maxlength="50">        
                        </div>
                        <div class="mb-3">
                            <!-- Ingresar Edad // Input NO obligatorio-->
                            <label for="edad" class="form-label">Edad</label>
                            <input type="number" id="edad" name="edad" class="form-control" placeholder="Ingresar edad">
                        </div>
                        <div class="mb-3">
                            <!-- Ingresar DNI  // Input obligatorio-->
                            <label for="dni" class="form-label">DNI</label>
                            <input type="text" id="dni" name="dni" class="form-control" placeholder="Ingresar número de documento" maxlength="8" required>        
                            <!-- Mensaje de error si la validación falla-->
                            <div class="invalid-feedback">
                                Ingresar número de documento
                            </div>
                        </div>
                        <div class="mb-3">
                            <!-- Ingresar N° de trámite del DNI  // Input NO obligatorio-->
                            <label for="numTramiteDNI" class="form-label">N° de trámite del DNI</label>
                            <input type="text" id="numTramiteDNI" name="numTramiteDNI" class="form-control" placeholder="Ingresar número de trámite del documento" maxlength="11">        
                        </div>
                        <!-- Botón de envío del formulario-->
                        <button type="submit" class="btn btn-dark">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <script>
        // Deshabilitar el envío de formularios si hay campos no válidos
        // Extraido de https://getbootstrap.com/docs/5.3/forms/validation/
        (() => {
            'use strict'
    
            const forms = document.querySelectorAll('.needs-validation')
    
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
    
                form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
{% endblock %}