{% extends 'base.html' %}
{% block title %}
    Edición de los datos
{% endblock %}
{% block nav %}
    {{ super() }} <!-- Esto incluirá el contenido del bloque nav de base.html -->
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 mx-auto mt-3 mb-3 align-items-center">
                <!-- Formulario validado-->
                <form class = "card w-100 needs-validation" method="POST" action="{{url_for('crud_encuesta.update_encuesta_datos')}}" novalidate>
                    <input type="hidden" value="{{datosEncuesta.0}}" name="idEncuesta">
                    <div class="card-body">
                        <!-- Ingresar nombre de la encuesta // Input obligatorio-->
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" maxlength="50" value="{{datosEncuesta.1}}" required>
                            <div class="invalid-feedback">
                                Ingrese el nombre de su encuesta
                            </div>
                        </div>
                        <!-- Ingresar descripción de la encuesta // Input NO obligatorio-->
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea id="descripcion" name="descripcion" class="form-control" rows="3" maxlength="400">{{datosEncuesta.2}}</textarea>
                        </div>
                        <!-- Ingresar objetivo de la encuesta // Input NO obligatorio-->
                        <div class="mb-3"> 
                            <label for="objetivo" class="form-label">Objetivo</label>
                            <textarea id="objetivo" name="objetivo" class="form-control" rows="3" maxlength="400">{{datosEncuesta.3}}</textarea>
                        </div>
                        <!-- Ingresar N° de preguntas que tiene la encuesta // Input obligatorio-->
                        <div class="mb-3">
                            <label for="cantPreguntas" class="form-label">Cantidad de preguntas</label>
                            <input type="number" id="cantPreguntas" name="cantPreguntas" class="form-control" value="{{datosEncuesta.4}}" required>
                            <div class="invalid-feedback">
                                Ingrese la cantidad de preguntas que tiene su encuesta
                            </div>
                        </div>
                        <!-- Botón de envío del formulario-->
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
    <script>
    // Deshabilitar el envío de formularios si hay campos no válidos
    // Extraido de https://getbootstrap.com/docs/5.3/forms/validation/
    (() => {
        'use strict'

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
    })()
    </script>
{% endblock %}