{% extends 'base.html' %}
{% block title %}
    Formulario
{% endblock %}
{% block nav %}
    <!-- Barra de navegación -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container mt-2 mb-2 d-flex flex-lg-row align-items-center">
            <!-- Logo -->
            <a class="navbar-brand" href="{{ url_for('vistas_principales.home_encuestador')}}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="75" height="36">
            </a>
            <!-- Botón del menú -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menu" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Elementos del menú colapsable -->
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="menu">
                <!-- Header -->
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <!-- Body -->
                <div class="offcanvas-body mx-4 d-flex flex-column flex-lg-row align-items-center ms-lg-auto">
                    <!-- Barra de búsqueda -->
                    <div class="col-12 col-lg-auto mx-lg-2" role="search">
                        <input class="form-control" type="search"  id="buscar" oninput="filtrar()" placeholder="Buscar..." aria-label="Search">
                    </div>
                    <!-- Botón 'Cerrar sesión'-->
                    <div class="mt-auto mt-lg-0 ms-lg-2 col-12 col-lg-auto">
                        <a class="btn btn-outline-light w-100" href="{{url_for('auth.logout')}}" role="button">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="p-4 p-md-5 mb-4 mt-3 rounded text-body-emphasis bg-body-secondary">
                <div class="col-lg-12 px-0">
                    <h1 class=""> {{nombreEncuesta}} </h1>
                    <p class="lead my-3">{{descripcion}}</p>
                    <!-- <p>{{objetivo}}</p>-->
                </div>
            </div>
            <!-- Formulario -->
            <form class="mx-auto px-3 py-3 needs-validation" method="POST" action="{{url_for('crud_encuesta.guardar_encuesta', idEncuesta=idEncuesta, nombreEncuesta=nombreEncuesta, idEncuestado=idEncuestado)}}" novalidate>
                <div class="mx-4 my-4">
                {% for pregunta_id, pregunta in preguntas_dict.items() %}
                    <h6>{{ pregunta['detalle'] }}</h6>
                    {% if pregunta['tipo'] == 1 %}
                        <!-- Pregunta abierta -->
                        <div class="mb-3">
                            <input type="hidden" name="respuesta{{ pregunta_id }}" value="{{ pregunta['respuestas'][-1]['id_respuesta'] }}">
                            <textarea type="text" name="{{ pregunta['respuestas'][-1]['id_respuesta'] }}" class="form-control  w-50" rows="3" maxlength="400"></textarea>
                        </div>
                    {% elif pregunta['tipo'] == 2 %}
                        <!-- Pregunta cerrada de opción simple -->
                        {% for dict_respuesta in pregunta['respuestas'] %}
                            <div class="mb-3">
                                <input type="radio" id="{{ dict_respuesta['id_respuesta'] }}" name="respuesta{{ pregunta_id }}" value="{{ dict_respuesta['id_respuesta'] }}">
                                <label for="{{ dict_respuesta['id_respuesta'] }}">{{ dict_respuesta['detalle'] }}</label>
                            </div>
                        {% endfor %}
                    {% elif pregunta['tipo'] == 3 %}
                        <!-- Pregunta cerrada de opción múltiple -->
                        {% for dict_respuesta in pregunta['respuestas'] %}
                            <div class="mb-3">
                                <input type="checkbox" id="{{ dict_respuesta['id_respuesta'] }}" name="respuesta{{ pregunta_id }}" value="{{ dict_respuesta['id_respuesta'] }}">
                                <label for="{{ dict_respuesta['id_respuesta'] }}">{{ dict_respuesta['detalle'] }}</label>
                            </div>
                        {% endfor %}
                        <!-- Pregunta semicerrada de opción simple -->
                    {% elif pregunta['tipo'] == 4 %}
                        {% for dict_respuesta in pregunta['respuestas'][:-1] %}
                            <div class="mb-3">
                                <input type="radio" id="{{ dict_respuesta['id_respuesta'] }}" name="respuesta{{ pregunta_id }}" value="{{ dict_respuesta['id_respuesta'] }}">
                                <label for="{{ dict_respuesta['id_respuesta'] }}">{{ dict_respuesta['detalle'] }}</label>
                            </div>
                        {% endfor %}
                        <div class="mb-3">
                            <input type="radio" id="{{ pregunta['respuestas'][-1]['id_respuesta'] }}" name="respuesta{{ pregunta_id }}" value="{{ pregunta['respuestas'][-1]['id_respuesta'] }}" >
                            <label for="{{ pregunta['respuestas'][-1]['id_respuesta'] }}">{{ pregunta['respuestas'][-1]['detalle']  }}</label>
                            <input type="text" name="{{ pregunta['respuestas'][-1]['id_respuesta'] }}" class="form-control w-50">
                        </div>
                    
                    {% elif pregunta['tipo'] == 5 %}
                        <!-- Pregunta semicerrada de opción múltiple -->
                        {% for dict_respuesta in pregunta['respuestas'][:-1] %}
                            <div class="mb-3">
                                <input type="checkbox" id="{{ dict_respuesta['id_respuesta'] }}" name="respuesta{{ pregunta_id }}" value="{{ dict_respuesta['id_respuesta'] }}">
                                <label for="{{ dict_respuesta['id_respuesta'] }}">{{ dict_respuesta['detalle'] }}</label>
                            </div>
                        {% endfor %}
                        <div class="mb-3">
                            <input type="checkbox" id="{{ pregunta['respuestas'][-1]['id_respuesta'] }}" name="respuesta{{ pregunta_id }}" value="{{ pregunta['respuestas'][-1]['id_respuesta'] }}">
                            <label for="{{ pregunta['respuestas'][-1]['id_respuesta'] }}">{{ pregunta['respuestas'][-1]['detalle'] }}</label>
                            <input type="text" name="{{ pregunta['respuestas'][-1]['id_respuesta'] }}" class="form-control w-50">
                        </div>
    
                    {% elif pregunta['tipo'] == 6 %}
                        <!-- Pregunta escala -->
                        {% for dict_respuesta in pregunta['respuestas'] %}
                            <div class="btn-group mb-3"  role="group" aria-label="Escala">
                                <input type="radio" id="{{ dict_respuesta['id_respuesta'] }}" name="respuesta{{ pregunta_id }}" value="{{ dict_respuesta['id_respuesta'] }}" class="btn-check" autocomplete="off">
                                <label class="btn  btn-outline-secondary" for="{{ dict_respuesta['id_respuesta'] }}">{{ dict_respuesta['detalle'] }}</label>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </div>
                <!-- Botón de envío del formulario -->
                <button type="submit" class="btn btn-dark mx-4">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}