{% extends 'base.html' %}
{% block title %}
    Página principal
{% endblock %}
{% block nav %}
    <!-- Barra de navegación -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container mt-2 mb-2 d-flex flex-lg-row align-items-center">
            <!-- Logo -->
            <a class="navbar-brand" href="{{ url_for('vistas_principales.home_encuestador')}}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="75" height="36">
            </a>
            <!-- Botón del menú -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menu" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Elementos del menú colapsable -->
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="menu">
                <!-- Header -->
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <!-- Body -->
                <div class="offcanvas-body mx-4 d-flex flex-column flex-lg-row align-items-center ms-lg-auto">
                    <!-- Barra de búsqueda -->
                    <div class="col-12 col-lg-auto mx-lg-2" role="search">
                        <input class="form-control" type="search"  id="buscar" oninput="filtrar()" placeholder="Buscar..." aria-label="Search">
                    </div>
                    <!-- Botón 'Cerrar sesión'-->
                    <div class="mt-auto mt-lg-0 ms-lg-2 col-12 col-lg-auto">
                        <a class="btn btn-outline-light w-100" href="{{url_for('auth.logout')}}" role="button">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="table-responsive">
            <!-- Tabla --> 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- Encabezados de las columnas -->
                        <th>ID</th>
                        <th>Nombre de la encuesta</th>
                    </tr>
                </thead>
                <tbody>  
                    <!-- Si la tupla de datos recibida está vacía mostrar texto -->
                    {% if encuestas == () %}
                    <td colspan="2">
                        <p>No hay encuestas activas.</p>
                    </td>
                    <!-- Sino listar, por fila, ID y nombre de la encuesta -->
                    {% else %}
                    {% for encuesta in encuestas %}
                        <tr> 
                            <!-- ID automático asignado mediante el número del índice actual en el bucle-->
                            <td class="align-middle">
                                {{ loop.index }}
                            </td>
                            <!-- Nombre de la encuesta -->
                            <td class="align-middle">
                                <a href="{{url_for('encuestado.add_encuestado', idEncuesta=encuesta.0, nombreEncuesta=encuesta.1)}}">
                                    {{ encuesta.1 }}
                                </a>
                            </td>  
                        </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}