{% extends 'base.html' %}
{% block title %}
    Información
{% endblock %}
{% block nav %}
    {{ super() }} <!-- Esto incluirá el contenido del bloque nav de base.html -->
{% endblock %}
{% block content %}
    <div class="container">
        <div class="mb-3 mt-3">
            <a href="javascript:history.back()">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16" role="link" aria-label="Volver">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </a>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-bg-light mb-3">
                    <div class="card-header text-center">Descripción de los diferentes tipos de pregunta que puedes utilizar para elaborar 
                        el fomulario de tu encuesta
                    </div>
                    <div class="card-body">
            
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card text-bg-secondary mb-3 h-100">
                                    <div class="card-header text-center">
                                        <strong>Pregunta abierta</strong>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">El encuestado responde con sus propias palabras.</p>
                                    </div>
                                    <img src="{{ url_for('static', filename='img/pregunta-abierta.png') }}" class="card-img-bottom" alt="...">
                                </div>
                            </div>
        
                            <div class="col">
                                <div class="card text-bg-secondary mb-3 h-100">
                                    <div class="card-header text-center">
                                        <strong>Pregunta cerrada de opción simple</strong>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">El encuestado solo puede elegir una opción de entre las opciones que se le presentan.</p>
                                    </div>  
                                    <img src="{{ url_for('static', filename='img/pregunta-cerrada-simple.png') }}" class="card-img-bottom" alt="...">
                                </div>
                            </div>
        
                            <div class="col">
                                <div class="card text-bg-secondary mb-3 h-100">
                                    <div class="card-header text-center">
                                        <strong>Pregunta cerrada de opción múltiple</strong>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">El encuestado puede elegir, de entre las opciones que se le presentan, todas las que considere necesarias.</p>
                                    </div>  
                                    <img src="{{ url_for('static', filename='img/pregunta-cerrada-multiple.png') }}" class="card-img-bottom" alt="...">
                                </div>
                            </div>
        
                            <div class="col">
                                <div class="card text-bg-secondary mb-3 h-100">
                                    <div class="card-header text-center">
                                        <strong>Pregunta semicerrada de opción simple</strong>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">El encuestado pueda escribir su respuesta si no encuentra ninguna 
                                        apropiada entre las predefinidas.</p>
                                    </div>
                                    <img src="{{ url_for('static', filename='img/pregunta-semicerrada-simple.png') }}" class="card-img-bottom" alt="...">
                                </div>
                            </div>
                    
                            <div class="col">
                                <div class="card text-bg-secondary mb-3 h-100">
                                    <div class="card-header text-center">
                                        <strong>Pregunta semicerrada de opción múltiple</strong>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">El encuestado puede elegir más de una opción y, además, 
                                            escribir una respuesta extra.</p>
                                    </div> 
                                    <img src="{{ url_for('static', filename='img/pregunta-semicerrada-multiple.png') }}" class="card-img-bottom" alt="...">
                                </div> 
                            </div>
                    
                            <div class="col">
                                <div class="card text-bg-secondary mb-3 h-100">
                                    <div class="card-header text-center">
                                        <strong>Pregunta escala</strong>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">El encuestado elige el número o la palabra que mejor representa su 
                                            sentimiento u opinión con respecto a lo que se le está preguntando.</p>
                                    </div>  
                                    <img src="{{ url_for('static', filename='img/pregunta-escala.png') }}" class="card-img-bottom" alt="...">
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
        