<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición de los datos</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous"></script>
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container mt-2 mb-2 d-flex flex-lg-row align-items-center">
            <!-- Logo -->
            <a class="navbar-brand" href="{{ url_for('home')}}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="75" height="36">
            </a>
            <!-- Botón del menú -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menu" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Elementos del menú colapsable -->
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="menu">
                <!-- Header -->
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <!-- Body -->
                <div class="offcanvas-body mx-4 mx-lg-0 d-flex flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active mx-lg-2 mb-3 mb-lg-0" href="{{url_for('crear_encuesta')}}">Crear encuesta</a>
                        </li>
                    </ul>
                    <!-- Barra de búsqueda -->
                    <div class="col-12 col-lg-auto mx-lg-2" role="search">
                        <input class="form-control" type="search"  id="buscar" placeholder="Buscar..." aria-label="Search">
                    </div>
                    <!-- Botón 'Cerrar sesión'-->
                    <div class="mt-auto mt-lg-0 ms-lg-2 col-12 col-lg-auto">
                        <a class="btn btn-outline-light w-100" href="{{url_for('logout')}}" role="button">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Contenedor --> 
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 mx-auto mt-3 mb-3 align-items-center">
                <!-- Formulario validado-->
                <form class = "card w-100 needs-validation" method="POST" action="{{url_for('update_encuesta_datos')}}" novalidate>
                    <input type="hidden" value="{{datosEncuesta.0}}" name="idEncuesta">
                    <div class="card-body">
                        <!-- Ingresar nombre de la encuesta // Input obligatorio-->
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" maxlength="50" value="{{datosEncuesta.1}}" required>
                            <div class="invalid-feedback">
                                Ingrese el nombre de su encuesta
                            </div>
                        </div>
                        <!-- Ingresar descripción de la encuesta // Input NO obligatorio-->
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea id="descripcion" name="descripcion" class="form-control" rows="3" maxlength="400">{{datosEncuesta.2}}</textarea>
                        </div>
                        <!-- Ingresar objetivo de la encuesta // Input NO obligatorio-->
                        <div class="mb-3"> 
                            <label for="objetivo" class="form-label">Objetivo</label>
                            <textarea id="objetivo" name="objetivo" class="form-control" rows="3" maxlength="400">{{datosEncuesta.3}}</textarea>
                        </div>
                        <!-- Ingresar N° de preguntas que tiene la encuesta // Input obligatorio-->
                        <div class="mb-3">
                            <label for="cantPreguntas" class="form-label">Cantidad de preguntas</label>
                            <input type="number" id="cantPreguntas" name="cantPreguntas" class="form-control" value="{{datosEncuesta.4}}" required>
                            <div class="invalid-feedback">
                                Ingrese la cantidad de preguntas que tiene su encuesta
                            </div>
                        </div>
                        <!-- Botón de envío del formulario-->
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    <script>
    // Deshabilitar el envío de formularios si hay campos no válidos
    // Extraido de https://getbootstrap.com/docs/5.3/forms/validation/
    (() => {
        'use strict'

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
    })()
    </script>
</body> 
</html>